<!DOCTYPE html>
<html lang="en">

<head>
    <title>Socket.io</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .active {
            color: red;
        }
    </style>
</head>

<body>
    <form id="formSignIn">
        <input type="text" placeholder="Enter username" id="txtUsername">
        <br>
        <br>
        <button id="btnSignIn">Sign In</button>
    </form>
    <div id="divChat">
        <form id="formChat">
            <input type="text" placeholder="Enter message" id="txtMessage">
            <br>
            <br>
            <button id="btnSend">Send</button>
            <button id="btnSendPrivate">Send Private</button>
        </form>
        <div id="divMessages">
            <h3>Messages:</h3>
        </div>
        <div id="divUsers">
            <h3>Online users:</h3>
        </div>
    </div>

</body>
<script src="jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="main.js"></script>
<!-- <script src="reload/reload.js"></script> -->

</html>